.contactPage{
    height: calc(100vh - 70px);
    width: 100vw;
    max-width: 60rem;
    margin: 3rem auto 0.5rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 4rem;
    }

    span{
        padding: 1rem;
        font-size: medium;
        font-weight: 300;
    }

    .contactForm{
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
        max-width: 60rem;

        .name, .email, .msg {
            font-size: medium;
            width: 100%;
            max-width: 40rem;
            margin: 0.5rem;
            padding: 0.5rem 1rem;
            color: white;
            border: none;
            border-radius: 0.5rem;
            background: #323946;
        }

        .submitBtn{
            background: rgb(0, 95, 146);
            border: none;
            color: white;
            border-radius: 0.5rem;
            margin: 2rem;
            padding: 0.75rem 3.5rem;
        }
        .submitBtn:hover{
            border: 1px solid yellow;
            background: transparent;
        }
    }
}

@media screen and (max-width:768px) {
    #contact h1{
        font-size: 3rem;
    }

    #contact span{
        font-size: small;
    }
}
@media screen and (max-width:425px) {
    #contact h1{
        font-size: 2.5rem;
    }
}
